@model GUI_Handin2.Models.Guest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Guest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WontToEaten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WontToEaten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsChild)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsChild)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCheckIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCheckIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date.DateId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GuestId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
